<!doctype html>
<html lang="en">
<head>
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>#}
    <title>Brian Kimita</title>
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-md-3">
     <div class="card card-body border-info "  id="profile-wrapper" >
         <img id="profile-pic " src="{% static 'images/passportphoto.jpg' %}" alt="#"><br>
         <br>
         <h4>I'm Brian</h4>
         <p>I love coding,doing research and collaborating</p>
     </div>

    </div>
      <div class="col-md-9">
     <div class="card card-body h-100" >
      <h4>My First Job as a Developer</h4><br>
          <p>
              Three Months after writing my first hello program on September 5th 2023 (while working in the marketing department) I had convinced my boss to let me take a stab at building a better version of the outdated laboratory management system my company was running on
          </p>
          <p>
           Congratulations, Brian Kimita, on securing a developer job following the completion of your web development certificate! This achievement reflects your dedication and proficiency in the field. As you embark on this exciting journey, embrace the opportunities to apply your newly acquired skills and continuously learn in a professional setting. Your commitment to web development has opened doors to a dynamic and evolving industry, and I wish you great success and fulfillment in your new role. Keep coding and reaching for new heights!
          </p>
          <p>
              From this you will see that I'm someone that jumps before i can talk  myself out of doing something scary
          </p>
          <ul class="social-links">
              <li><img class="social" src="{% static 'images/facebook.png' %}" alt=""></li>
              <li><img class="social" src="{% static 'images/linkedln.png' %}" alt=""></li>
              <li><img class="social" src="{% static 'images/youtube.png' %}" alt=""></li>
              <li><img class="social" src="{% static 'images/twitter.png' %}" alt=""></li>
          </ul>
    </div>
</div>

    <div class="row">
    <div class="col-md-6">
     <div class="card card-body h-100">
         <h4>My Experience as a Developer</h4>
         <br>
         <p>Full stack Developer </p>
         <p>In my role as a developer, I've had the privilege of translating my passion for web development into tangible projects. Armed with a web development certificate, I dove into the professional sphere, where every day is a new opportunity to learn and grow. Collaborating with a talented team, I've contributed to various projects, honing my skills in coding, debugging, and adhering to best practices. Embracing challenges as stepping stones, I've gained valuable experience in version control, documentation, and effective communication within a dynamic development environment. The journey has been both exhilarating and enlightening, and I'm eager to continue evolving as a developer while making meaningful contributions to innovative projects. </p>
     </div>

    </div>
      <div class="col-md-6">
     <div class="card card-body h-100">
         <h4>What i Know</h4>
         <br>
         <p>
             Python,Django,HTML/CSS, Javascript/Jquery,React,Postgres,AWS and APIs such as google maps,Javascript
         </p>
 <p>
     PS : Working on Node JS, Mongo DB and Machine learning
 </p>
     </div>

    </div>

</div>
    <br>
    <div class="row">
    <div class="col-md-6">
     <div class="card card-body h-100">
         <h5>How i learn</h5><br>
         <p>Reverse Engineer &Build Ugly Prototypes First</p>
         <p>
        Embarking on my journey in web development after completing a certification, I've immersed myself in a dynamic learning experience. Setting clear goals, I've embraced a multifaceted approach, utilizing online courses, hands-on projects, and engagement with coding communities. Actively participating in pair programming and reviewing code on platforms like GitHub, I've honed my skills, sought feedback, and continuously documented my progress. Networking with fellow developers and staying updated on industry trends, I'm committed to a lifelong learning adventure, eager to contribute meaningfully to the ever-evolving world of web development.
         </p>
     </div>

    </div>

      <div class="col-md-6">
     <div class="card card-body h-100">
         <h5>My short Term Goals</h5>
         <br>
         <p>
My immediate team goals center on fostering effective collaboration and achieving project milestones. Prioritizing clear communication and knowledge sharing, we aim to enhance our collective skills through regular skill-building sessions and collaborative problem-solving. With a focus on improving workflow efficiency, we seek to implement agile methodologies and streamline project management processes. By fostering a positive and inclusive team culture, we aim to boost morale, ensuring a motivated and cohesive unit that consistently delivers high-quality results.
         </p>
         <p>
             aside from building small projects i would love to enter a position where i can be part of a bigger team & learn from others with more experience than myself
         </p>
     </div>

    </div>
</div>
</div>
</div>
</body>
</html>